<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/employee_db"
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="100"
              maxIdle="30"
              maxWaitMillis="10000"
              username="root"
              password="your_password"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/employee_db?useSSL=false&amp;serverTimezone=UTC"/>
</Context>